black==23.12.1
flake8==7.0.0
mypy==1.8.0
pylint==3.0.3
pytest-aiohttp==1.0.5
pytest-timeout==2.2.0
pytest==7.4.4
types_atomicwrites==1.4.5.1
types_pyOpenSSL==24.0.0.20240130
xmltodict==0.13.0
syrupy==4.6.0
