name: Upload Python Package

on:
  release:
    types: [published]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Verify version
        uses: home-assistant/actions/helpers/verify-version@master

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools build

      - name: Build
        run: |
          python -m build

      - name: "Upload dists"
        uses: "actions/upload-artifact@v4"
        with:
          name: "dist"
          path: "dist/"
          if-no-files-found: error
          retention-days: 5

  publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs: "build"
    environment:
      name: release
      url: https://pypi.org/p/hass-nabucasa
    permissions:
      id-token: write
    steps:
    - name: "Download dists"
      uses: "actions/download-artifact@v4"
      with:
        name: "dist"
        path: "dist/"

    - name: "Publish dists to PyPI"
      uses: "pypa/gh-action-pypi-publish@e53eb8b103ffcb59469888563dc324e3c8ba6f06" # v1.8.12
