name: Upload Python Package

on:
  release:
    types:
      - published

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7

      - name: Set up Python
        uses: actions/setup-python@v5.1.1
        with:
          python-version: "3.x"

      - name: Verify version
        uses: home-assistant/actions/helpers/verify-version@master

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools build

      - name: Build
        run: |
          python -m build

      - name: Upload dists
        uses: actions/upload-artifact@v4.3.5
        with:
          name: "dist"
          path: "dist/"
          if-no-files-found: error
          retention-days: 5

  publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs: "build"
    environment:
      name: release
      url: https://pypi.org/p/hass-nabucasa
    permissions:
      id-token: write
    steps:
    - name: Download dists
      uses: actions/download-artifact@v4.1.8
      with:
        name: "dist"
        path: "dist/"

    - name: Publish dists to PyPI
      # Pinned to a commit for security purposes
      uses: pypa/gh-action-pypi-publish@ec4db0b4ddc65acdf4bff5fa45ac92d78b56bdf0 # v1.9.0
